name: test_workflow

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - closed

  push:
    branches:
      - main

jobs:
  job1:
    name: Testing workflow job1
    runs-on: ubuntu-latest
    steps:
      - uses: fanchen1988@test-action
