name: test_workflow

on:
  pull_request:
    types:
      - opened
      - synchronize
    # - reopened
      - closed

  push:
    branches:
      - main

jobs:
  job1:
    name: Testing workflow job1
    runs-on: ubuntu-latest
    steps:
      - uses: .github/workflows/base.yml
        with:
          job_mode: job1
          step_mode: 2
  job2:
    name: Testing workflow job2
    runs-on: ubuntu-latest
    steps:
      - uses: .github/workflows/base.yml
        with:
          step_mode: 1
          job_mode: job2
  job3:
    name: Testing workflow job3
    runs-on: ubuntu-latest
    steps:
      - uses: .github/workflows/base.yml
        with:
          job_mode: job1
  job4:
    name: Testing workflow job4
    runs-on: ubuntu-latest
    steps:
      - uses: .github/workflows/base.yml
        with:
          step_mode: 4
